.body{

}

.container2{display: flex;
background-color: white;


height:60px;
border: 1px solid lightgrey;
margin-top: 10pxpx;

}

.btn{

    background-color: white;

    color:black;
    width: 300px;
    margin-top: 15px;
    border:none;
    text-align: left;
    

}
.col102{
    
    display: flex;
    position: relative;
  
    margin-right: 20px;
    
     
}
.col102 a{
    color:#202124;
    list-style:none;
     font-family: Roboto;
     font-size: 15px;
    font-weight: bold;
    padding: 15px;

  
  


}

.col102 a:active{color:rgb(115, 184, 207);


height:2px;


}

.col102 a:hover{
    color: #007BFF;
}


.col102 li{list-style: none;
text-align: center;
justify-content: center;
margin-top: 18px;}
.col101{
  margin-bottom: 50px;
width: 30%;
padding-left: 70px;
gap: 8px;
border: none;




}
.col101 {

left: 200px

}
.col102 a:active{
    background-color: #1E3A8A;
}
.col103{
    max-width: 30%;

    margin-top: 15px;
}
.offer{
    width:100%;
    

}
.col103 a{color:black;}


.mui-btn {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #1976d2; /* Primary color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mui-btn:hover {
  background-color: #3399FF;
}
.col102 .links .button1{
    margin-bottom: 50px;
    
}
.col102 a:active{
    color:#FFFFFF;

}
.col102 a:hover{background-color: rgba(0,123,255,0.05);}

.nav1{
    position: relative;
   
    left:0%;
   
   
    background-color: white;

}

.nav1:hover{}


.submenu {
  display: none;
  position: absolute;   /* dropdown */
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 180px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  z-index: 1000;
}

.submenu li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 12px;   
  line-height: 1.5;    
  text-align: left;
  max-height: 2px;
}

.submenu li a:hover {
  background-color: rgba(0,123,255,0.05);
}

.links:hover > .nav1 > .submenu {
  display: block;
}

.list-btn {
  display: block;
  min-height: 40px;
  max-width: 100%;
  color: #007BFF;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-align: left;
 
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

 margin-top: 2px;
 z-index: 100000;
 padding: 0px;
  
}
.submenu{
  z-index: 10000;
}

.list-btn:hover {
  background-color: rgba(0,123,255,0.05);
}

.list-btn:active {
  background-color: #1E3A8A;
  color: #fff;
}
.nav2{
    position: absolute;
    top:100%;
    left:20%;
    min-width: 300px;
    background-color: white;

}

.btn{display: flex;}

.col103 {
  display: flex;
  align-items: center;
 flex-direction: row;
 

}
.offer{
  display: flex;
 width: 100% !important;
}


@media screen and (max-width:500px) {
  .submenu a{
    font-size: 19px;
  }
  .col101{
    font-size: 12px;
    margin-left: -60px;
    margin-top: 35px;
  }
  .Select-Header-Resposnive{

    display: none;
 
  }
  .col102{
    gap:12px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
  .col102 a{
    font-size: 12px;
    margin-right:0px;
      padding:0px

  }
  .col101{
    max-width: 40px;
  }
  .container2{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .col103{
    max-width: 20px;
    margin-bottom: 13px;
    margin-left: 50px;
  }
  
}