.Slider{

    background-color: white;
 

    margin-left: 25px;
    

     max-height: 600px !important;
 width: 1500px !important;
     margin-right: 5px;


     display:flex
    
 

   
}
 
.Slider .swiper-wrapper{
    box-shadow: 0px 6px 6px rgba(0,0,0,0.1);
    

}