.Pop{
    
    max-width: 90%;
    padding: 20px;
    
  
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    max-height: 2000px;
    max-width:1400px !important;
    align-items: start;
    font-size: 25px;
    padding: auto;
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    gap: 280px;
 
    
 


}
.Pop .desc{

font-size: 18px;
margin-top: 5px;
color:rgb(102, 100, 100)  

}

.right-sec{




}

.MuiTabs-indicator{

   background-color: blue !important;}
   .our{
    max-width: 2000px;

    align-items: center;
    justify-content: center;
  
   }
   .all{
    background-color: white;
   }

   @media screen and (max-width:500px) {
    .Pop, .Blog1, .Slider, .right-sec {
  width: 100% !important;
  max-width: 100%;
  box-sizing: border-box; /* include padding */
  padding: 0 10px; /* optional small padding */
}

    
   }




@media screen and (max-width:500px) {
    

    .Pop{
         max-height: 8px;
             gap:0px;
             font-size: 15px;
             flex-direction: column;
             padding-top: 50px;
                 margin-left: 0px
    }
  .Mobie-Text-Responsive{
    font-size: 8px;
    display: none;
  }
  .Slider{
    max-width: 400px;
    background-color: black;
  }

    
}