.Slider{


    max-width: 1230px;
   
    height: 500px;
    background-color: white;
   
}
.Pitem {

}


.Div {
         /* spacing between cards */
}

.ButtonCard{

    padding-bottom: 20px;
     margin-top: 03px;
}


.Pitem {
  flex: 1 1 23%;       
 
  
  background-color: white;
  border-radius: 0.375rem;
  padding: 12px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.18), 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.Product-Apple {
  display: flex;
  flex-wrap: wrap;      
  gap:8px;            
  justify-content: flex-start;
  align-items: start;
  justify-content: start; 
}

.zoom{
    z-index: 110000;
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
   


}
.Pitem{
    background-color: white;
    flex-wrap: wrap;
}
.info:hover{
    color: #0056d2;
}

.Pitem{
    
border-radius: 0.375rem;

padding: 12px;
 box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18), 0 6px 12px rgba(0, 0, 0, 0.1);

}
.Pitem:hover {

      transform: translateY(-4px);
   
    transition: 0.2s;
}

.imgwrap{
   max-width: 100%;
    height: 305px;
  
   
    
}
.imgwrap .Img{


  
}
.info{
    padding-top: 2px;
    
    font-weight: bold;
    color: rgba(0,0,0,0.9);
}


.info:active{
    color: #0A84FF;
}
.info1{
    padding-top: 20px;

 
 
}
.price{
    display: flex;
    gap: 20px;
   
}
.new{
    color: red;
}
.old{
text-decoration: line-through;
}

span{
    padding-top: 2px;
}





.Pitem {
         
 
  margin: 0 auto;

  margin-bottom: 20px;


  
}
.Product-Apple{

    background-color:white;

  
}


.imgwrap {
  width: 100%;
  height: 100% !important;  

  position: relative;
  
  
 
}
.discount{
    background-color: red;
     display: flex;
    color: white;
    padding:10px;
    position:absolute;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 3px;
    font-size: 13px;
    border-radius: 30px;
    max-width: 50px;
    max-height: 30px;

    
    
}


.heart{
    position: absolute;
    color: red;
    top: 30px;
right: 10px;




}
.heart a{
    color:white;
    
}
.heart:hover a{
transform: scale(1.2);       
    color:red }

@media screen and (max-width:500px) {

    .Pitem{
      width: 20px;
        font-size: 12px;
        
    }
   .imgwrap{
   max-width: 150px;
    max-height: 20px;
  
   
    
}
    .Rating-Responsivesness{
        max-width: 10px;
    }
    .Button-REsposiveness{
        max-width: 200px;
        font-size: 10px;
    }
    .discount{
        max-width: 200px;
    }
    
}