
   .pic .mySwiper {
   max-width: 100%;
    height: 97vh; 
    background:black;
    box-sizing: border-box;
  
  }
  .pic{
    max-width: 100%;
  }
  .pic .container1{
   max-width: 100% !important;
  }
  .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .swiper-slide img {
        max-height: 100%;  
        max-width: 100%;    
        object-fit: contain; 
       
    }
    .pic .container1 {
  max-width: 100%;  
  height: 100%;
}

.pic .swiper-button-prev{
  display: none;



}.pic .swiper-button-next{
  display: none;



}

@media screen and (max-width:500px){
  .pic .mySwiper{
   height: fit-content;
  
  }
    .swiper-slide img{

     
    }
  
    .Image-Border{
       border-radius: 1px;


    }
}