.cartbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cartbar .svg{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-weight: 18px;
}
.Cart-border{}