.Slider{


    max-width: 1230px;
   
    height: 500px;
    background-color: white;
   
}

.zoom{
    z-index: 110000;
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
   


}

.Pitem{
    
border-radius: 0.375rem;

max-width: 300px;
padding: 12px;
 box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18), 0 6px 12px rgba(0, 0, 0, 0.1);

}
.Pitem:hover {

      transform: translateY(-4px);
   
    transition: 0.2s;
}

.imgwrap{
   max-width: 100%;
    height: 275px;
  
   
    
}
.imgwrap .Img{


  
}
.info{
    padding-top: 2px;
    
    font-weight: bold;
    color: rgba(0,0,0,0.9);
}


.info:active{
    color: #0A84FF;
}
.info1{
    padding-top: 20px;

 
 
}
.price{
    display: flex;
    gap: 20px;
   
}
.new{
    color: red;
}
.old{
text-decoration: line-through;
}

span{
    padding-top: 2px;
}





.Pitem {
  width: 100%;         
  max-width: 1000px;    
  margin: 0 auto;
  height: 100%;
  margin-bottom: 20px;
}

.imgwrap {
  width: 100%;
  height: auto;  
  background-color: white;  
  position: relative;
  
  
 
}
.discount{
    background-color: red;
     display: flex;
    color: white;
    padding:10px;
    position:absolute;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 3px;
    font-size: 13px;
    border-radius: 30px;
    max-width: 50px;
    max-height: 30px;

    
    
}


.heart{
    position: absolute;
    color: red;
    top: 30px;
right: 10px;




}
.heart a{
    color:white;
    
}
.heart:hover a{
transform: scale(1.2);       
    color:red }