.contianer-side{
    max-width: 100%;
}
.wellness{
    background-color: rgb(45, 45, 245);
    padding: 10px;
    color: white;
}
.ProductPage{

    display: flex;
    gap: 2px;
}

.Products-Pagination{
    border-radius: 30px;
  
}



.right-bar{

    margin-left: -60px;
  


}

.right-bar{

    
       
          margin-left: 1px;margin-right: 10px;
          gap: 8px;
          background-color: #f8f8f8;
}
.right-bar .imgwrap img{
    max-width: 100% !important;
    max-height: 100%!important;
}
.right-bar .Pitem{
    max-width: 300px;
    max-height: 350px;
    padding: 20px;
  
}

.right-bar .Pitem .imgwrap{
    max-height:50px
    m
}



.right-bar .Pitem .imgwrap {
    max-height: 400px;
    overflow: hidden; 
}
.right-bar .Pitem .imgwrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.right-bar .Pitem {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-bar .Pitem .imgwrap {
    height: 100%; 
    overflow: hidden; 
}

.right-bar .Pitem .imgwrap img {
    width: 100%;
    height: 160px;
    object-fit: cover;

}


.option-bar {
    padding: 8px 12px;
    border: 1px solid #2d2df5;  
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    max-width: 200px;
}

.option-bar:focus {
    outline: none;
    border-color: #1f1fcf;   
}

 .f-col2 {
    justify-content: start;
    
}
.f-col1{
    max-width: 5px;
}
.f-col3{
  

}








.filter-bar{

    background-color: white;
    padding: 20px;
    border: 1px solid #e5e7eb;
    margin-bottom: 5px;
    max-width: 100%;
    display: flex;
    
    cursor: pointer;
  
    align-items: center;
}
.filter-bar a{
    color: black;
    font-size: 20px;
}
.filter-bar a:active{
    color: blue
}
.filter-bar a:hover{
    color: blue
}

.f-col1{
    display: flex;
    cursor:pointer;
    gap: 1px;


}

.f-col3{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.f-col2{
    font-weight: bold;
    font-size: 18px;
    border-left: 1px solid  #e5e7eb;
   max-height: 100%;
   padding-left: 20px;

}
.f-col1 .btn{
    max-width: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}









.right-bar1{

   
      grid-template-columns: repeat(1, 1fr);
       
          margin-left: 1px;margin-right: 10px;
          gap: 8px;
          background-color: #f8f8f8;

          max-width: 100%;
}
.right-bar1 .imgwrap img{
    max-width: 100% !important;
    max-height: 100%!important;
}
.right-bar1 .Pitem{
    max-width: 100% !important;
    max-height: 350px;
    padding: 20px;

  
}


.right-bar1 .Pitem .info1{
   display: flex;
   flex-direction: column;

  
}

.p

.right-bar1 .Pitem .imgwrap{
    max-height:50px;
    max-width: 100%;
  
}



.right-bar1 .Pitem .imgwrap {
    max-height: 400px;
    overflow: hidden; 
}
.right-bar1 .Pitem .imgwrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.right-bar1 .Pitem {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-bar1 .Pitem .imgwrap {
    height: 100%; 
    overflow: hidden; 
}

.right-bar1 .Pitem .imgwrap img {
    width: 100%;
    height: 160px;
    object-fit: cover;

}
.f-col1 .btn{ 
    color: blue;
}
.side{
    max-height: 100%;
    background-color: white;
}
.right-bar{
    width: 1060px;
    background-color: white;
  
}


@media screen and (max-width:500px) {

    .container-side{
        max-width: 450px;
    }
    .Products-Counts{
        max-width: 450px;
       font-size: 10px;
     
        
    }
    .font-of-items{
      
        width: 150px;
    }
    .item-title-font{
  font-size: 13px;
    }
    .Font-of-title {
        width: 220px;;
    }
.Sorting-resposiveness{
    font-size: 12px;
}

.f-col2{
width: 200px;
}
.option-bar{
    max-width: 110px;
    font-size: 10px;
    max-height: 30px;
    font-weight: bold;
    
}

.f-col3{
    padding-left: 20px;

}
.filter-bar{
    padding: 5px;
    max-width: 410px;
}
    
}
