.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.signup-card {
  background-color: #ffffff;
  max-width: 520px;
  width: 100%;
  padding: 45px;
  border: 1px solid #f8f8f8;
  box-shadow: 4px 6px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.signup-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.signup-form .MuiTextField-root {
  width: 100%;
}

.password-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 5px;
  bottom: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.password-toggle svg {
  font-size: 20px;
}

.signup-btn {
  margin-top: 10px !important;
  background-color: #1D4ED8 !important;
  color: white !important;
  height: 40px;
}

.signup-btn:hover {
  background-color: #2563EB !important;
}

.signup-btn a {
  color: white;
  width: 100%;
}

.signup-login-link {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  margin-top: 10px;
}

.signup-login-link a {
  color: rgb(57, 57, 255);
  font-weight: 600;
}

.signup-social-text {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(109, 107, 107);
}

.google-signup-btn {
  margin-top: 15px !important;
  background-color: #f1f1f1 !important;
  color: black !important;
}

.google-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
}






.map-container {
  width: 100%;
  margin-top: 30px;
}

/* Header card only */
.map-card {
  max-width: 1100px !important;
  margin: 0 auto 20px auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 4px 6px 12px rgba(0,0,0,0.1);
}

/* FULL WIDTH MAP */
.map-frame-wrapper {
  width: 100vw;
  height: 550px;
  margin-left: calc(-50vw + 50%);
}

/* Map itself */
.map-frame-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
